<form class="form-signin">
    <div class="text-center mb-4">
      <img class="mb-4" src="https://seeklogo.com/images/D/digi-logo-0670E78EE4-seeklogo.com.png" alt="" width="200" height="200">
      
      <p>Digi Demo App </p>
    </div>
  
    <a href="/users/register" class="btn btn-lg btn-danger btn-block" role="button">Register</a>
    <a href="/users/login" class="btn btn-lg btn-primary btn-block" role="button">Login</a>
   
   
  </form>